.bg-primary {
    background-color: #030303!important;
}
body {
    background-color: #030303;
}
.text-white{
    color:white;
}
a {
    color: white; }
    a:hover, a:focus, a:active {
      color: whitesmoke; }