/* Font import */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');


/* Media query */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #030303;
}

.page-header {
  font-size: 10px;
  text-align: center;
  display: flex;
  color: white;
  position: fixed;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100%;
}

/*________________________________________________ */

.navigation {
  display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
}

@media (width >=768px) {

  .menu {
    flex-direction: row
  }
  .page-header{
    margin-bottom: 20%;
    font-size: 30px;
  }
}

@media (width >=768px) {
  .menu>li:not(:last-child) {
    margin-right: 40px;
  }
}

.menu a {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  color: white;
  transition: color .2s ease;
  padding: 10px 0;
  margin-bottom: 15px;
}

.menu a:hover {
  color: white;

}

.menu a:hover::after,
.menu a:hover::before {
  width: 100%;
  left: 0;
}

.menu a::after,
.menu a::before {
  content: '';
  position: absolute;
  top: calc(100% + 5px);
  width: 0;
  right: 0;
  height: 3px;
}

.menu a::before {
  transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
  background: #2196f3;
}

.menu a::after {
  transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #F44336;
}